body {
    overflow:scroll;
}

.header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px;

    background-color:#73a2a0;
}

.logo {
    height: 100%;
}

.form-control {
    width: 50%;
} 

.no-added-message {
    font-size: 100px;
    padding-top: 100px;
    margin: auto;
    opacity: 0.1;
}
#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card{
    display: flex;
    width: 24%;
    height: 350px;
    background-color: rgb(242, 247, 253);
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card h2{
    text-align: center;
}

.card P{
    text-align: center;
}
